:root {
    --pexelGreen: #05a081;
    --pexelGrey: #5e5e5e;
    --white: #fff;
    --searchBackground: rgba(232, 232, 232, 0.85);



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.pexels-logo {
    padding-right: 5px;
    padding-top: 4px;
}

#search-form {
    --size: 40px;
    display: flex;
    border: 1px solid var(--pexelGrey);
    border-radius: 5px;
    padding: 4px 3px 2px 3px;
}

#search-input {
    padding-left: 10px;
    flex-grow: 1;
    height: var(--size);
    width: calc(100vw - 110px);    
    border: 0;
    background-color: none;
    color: var(--pexelGrey);
    font-weight: 700;
    outline: 0;
    border-radius: 5px;
}

.search-button {
    height: calc(var(--size) - 2px);
    width: calc(var(--size) - 2px);
    font-size: 1.1rem;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--pexelGreen);
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-container {
    position: relative;
    padding: 5px;
}

#photo-img {
    width: 100%;
}

#photo-img img {
    width: 100%;
}

#author {
    position: absolute;
    bottom: 30px;
    color: var(--white);
    font-size: .7rem;
    padding-left: 5px;
}

#author a, #photo-url a{
    text-decoration: none;
    font-size: .7rem;
}

#author a {
    color: var(--white);
    transition: ease-in .2s;
}

#author a:hover {
    color: var(--pexelGreen);
    transition: ease-in .2s;
}

#photo-url {
    padding-left: 5px;
    position: relative;
    top: -5px;
}

#photo-url a {
    color: var(--pexelGreen);
    opacity: 1;
    transition: ease-in .2s;
}

#photo-url a:hover {
    opacity: .8;
    transition: ease-in .2s;
}

/* -------- media queries ---------- */

@media screen and (min-width: 500px) {
    
}