:root {
    --pexelGreen: #05a081;
    --pexelGrey: #5e5e5e;
    --white: #fff;
    --searchBackground: rgba(232, 232, 232, 0.85);



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.pexels-logo {
    padding-right: 5px;
    padding-top: 4px;

}

#search-form {
    display: flex;
    --size: 40px;    
}

#search-input {
    flex-grow: 1;
    height: var(--size);
    width: 60vw;    
    border: none;
    background-color: var(--searchBackground);
    color: var(--pexelGrey);
    font-weight: 700;
}

.search-button {
    height: var(--size);
    width: var(--size);
    font-size: 1.1rem;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-container {
    position: relative;
}

#photo-img {
    width: 100%;
}

#photo-img img {
    width: 100%;
}



